# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
dist/
build/
.expo/
.expo-shared/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# docker volumes (safety)
pgdata/
redisdata/

# OS
Thumbs.db

# test / coverage
coverage/

# React Native
android/
ios/
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# secrets
git_info
