# Expo에 노출될 클라이언트 환경변수 (EXPO_PUBLIC_* 만 번들에 포함됨)
# 값 수정 후 파일명을 .env 로 복사하고 Metro 재시작.
EXPO_PUBLIC_API_BASE_URL=https://navi.msking.co.kr
EXPO_PUBLIC_KAKAO_JS_KEY=your_kakao_js_key_here
EXPO_PUBLIC_NAVER_MAP_CLIENT_ID=your_naver_client_id
